/* imports */
@import url('https://fonts.googleapis.com/css2?family=Ysabeau+SC&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Ysabeau SC', sans-serif;
}

body {
    width: 100vw;
    height: 100vh;
}

.main {
    width: 100%;
    height: 100%;
    background-size: cover;
    overflow: hidden;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

#video {
    position: absolute;
    z-index: -1;
}

.container {
    height: 50%;
    width: 40%;
    z-index: 999;
    background: transparent;
    backdrop-filter: blur(70px);
    border-radius: 20px;
}

#search {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 3%;
    gap: 1%;
}

#search-input {
    padding: 2%;
    border-radius: 20px;
    border: none;
    outline: none;
    text-align: center;
    font-weight: 800;
}

#search-icon>button {
    padding: 8px 10px;
    border-radius: 50px;
    color: #fff;
    background-color: #000;
    outline: none;
    border: none;
}

.weather {
    width: 100%;
    height: 40%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 2%;
}

.weather i {
    font-size: 70px;
    color: yellow;
}

.weather h1 {
    color: #ffff;

}

#city {
    color: #fff;
}

.details {
    width: 100%;
    height: 40%;
    display: flex;
}

.columns {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50%;
}

.humditiy {
    height: 100%;
    width: 30%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color: #ffff;
}

.humditiy i {
    font-size: 50px;
    color: aqua;

}

.wind {
    height: 100%;
    width: 30%;
    color: #ffff;
    display: flex;
    align-items: center;
    flex-direction: column;

    justify-content: center;
}

.wind i {
    color: #ddd;
    font-size: 50px;
}